:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  --color-brand-normal: #cfcfbc;
  --color-brand-secondary-dark: #a18268;
}
/* BASE */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  list-style-type: none;

  padding: 0;
}

.logobakery {
  font-weight: 400;
  font-size: 24px;
}

/* .header-link {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-primary-light);
} */

/* BUTTON */

.button {
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  color: var(--color-primary-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 32px;
  width: 238px;
  height: 59px;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* LINK */

.link {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-light);
}

/* HEADER */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  text-decoration: none;
}

/* Hero section */

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      127deg,
      rgba(18, 18, 17, 0.78) 0%,
      rgba(18, 18, 17, 0.6) 63.89%,
      rgba(18, 18, 17, 0) 100%
    ),
    url(./images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
  text-align: center;
}

/* ЭТО ПРАВИЛО БУДЕТ ПЕРЕОПРЕДЕЛЯТЬ .accent ВНУТРИ H1 */

.hero-title .accent {
  color: var(--color-brand-light);
  font-size: 128px;
  font-weight: 900;
}

/* ЭТО ПРАВИЛО БУДЕТ ПРИМЕНЯТЬСЯ КО ВСЕМ ОСТАЛЬНЫМ .accent элементам */

.accent {
  color: var(--color-brand-light);
  font-size: 18px;
  font-weight: 600;
}
/* ADVANTAGES */

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}

.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}
/* SECTION TITLE */

.section-title.centered {
  font-size: 53px;
}

.section-title {
  color: var(--color-primary-dark);
  font-size: 53px;
  font-weight: 900;
  line-height: 1.3;
}

/* Traditions */

.section {
  padding: 48px;
}

.man-baton {
  border-radius: 400px 400px 0 0;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  gap: 102px;
}

.traditions-content {
  min-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
  max-width: 460px;
}

.traditions-text {
  font-size: 18px;
  font-weight: 400;
  max-width: 320px;
}

.traditions-text .limited {
  max-width: 325px;
}

.traditions-text-span {
  font-size: 18px;
  font-weight: 600;
}

/* Chefs */
.chefs-title {
  position: relative;
  margin: 0 auto 82px;
  text-align: center;
  line-height: 1.2;
}

.chefs-title .accent {
  color: var(--color-brand-light);
}

/* .chefs-title::before {
  position: absolute;
  top: 0;
  left: -352px;
  bottom: 0;
}

.chefs-title::after {
  position: absolute;
  right: -352;
  bottom: 0;
} */

/* --- Горизонтальні лінії навколо заголовка --- */
.chefs-title::before,
.chefs-title::after {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 2px;
  background-color: var(--color-brand-normal);
  content: '';
  margin: 0 16px;
}

/* --- Секція шеф-кухарів --- */

.chef-title.centered {
  max-width: 520px;
  align-items: center;
}

.chef-title::before .chefs-title::after {
  border: 2px solid var(--color-brand-secondary-dark);
  width: 352px;
  height: 0px;
}
/* display: block;
  width: 352px;
  border: 2px solid #cfcfbc;
  content: '';
} */

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-brand-secondary-dark);
  background-color: var(--color-primary-light);
  width: 241px;
  height: 390px;
}

.chefs-list {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: stretch;
}

.chefs-card {
  display: flex;
  gap: 30px;
  height: 100%;
}

.chefs-text {
  margin-bottom: 24px;
}

.chefs-item {
  flex: 1;
  display: flex;
}

.names {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.descriptions {
  font-size: 18px;
  font-weight: 400;
}

.section-title .accent {
  font-size: 64px;
  font-weight: 900;
}

.chef-title {
  margin-bottom: 80px;
  flex-grow: 1;
}
/* FORMATS */

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  height: 444px;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  /* box-shadow: 2px 2px 4px 4px violet, 4px 4px 8px 8px red; */
}

.format-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}

/* Contact */

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-title {
  margin-bottom: 16px;
  padding-bottom: 96px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
.join-us {
  font-size: 55px;
  font-weight: 900;
}

.fill-form {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-brand-dark);
}

.basement {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary-light);
}

/* .basement-copy {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
} */

.copyright {
  font-size: 14px;
  font-weight: 400;
  color: #a18268;
}
/* FOOTER */

.footer {
  position: relative;
  background-image: url(./images/footer-background.jpg);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url(./images/decor-bread-small.png);
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(./images/decor-bread-large.png);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  gap: 20px;
}

.footer-adress {
  display: flex;
  /* flex-basis: 50%; */
  flex-grow: 1;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.adress-link:hover {
  color: var(--color-brand-normal);
}

.adress-icon {
  fill: var(--color-primary-light);
}

.adress-icon:hover {
  fill: var(--color-brand-light);
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

/* .backdrop.is-hidden {
  display: none;
} */

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px;
}

.modal.is-hidden {
  display: none;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url(./images/button-close.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* FORM */

.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--color-brand-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-label {
  display: block;
  overflow-y: auto;
  top: 16px;
  left: 42px;
}

.form-field {
  position: relative;
  margin-bottom: 32px;
}

.form-input:focus {
  border: 1px solid var(--color-brand-light);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-brand-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

.form-bread {
  position: absolute;
  bottom: 0;
  right: 0;
}
